/** LOGIN **/
body {
  background-color: #f7f9ff;
}

.login {
  padding-right: 25%;
  padding-left: 25%;
}

.login-logo {
  width: 126px;
  height: 126px;
}

.login-logo-container {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.container {
  height: 400px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.container div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-title {
  font-family: "moon 2.0";
  font-weight: bold;
  font-size: 35px;
  color: #226acc;
}

.login-title-container {
  margin: 20px;
}

.login-subtitle {
  font-family: "red hat display";
  font-size: 15px;
  color: #848fbb;
}

/** LOGIN FORM **/

.container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container form div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}

.container form div img {
  width: 28px;
  height: 28px;
}

.container form input {
  outline: none;
  border-style: solid;
  border: 2px solid #226acc;
  border-radius: 10px;
  height: 35px;
  width: 270px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 5%;
  text-align: left;
  font-family: "red hat display";
}

/* .container form input[type="text"] {
  background-image: url("../images/email.png");
}

.container form input[type="password"] {
  background-image: url("../images/lock.png");
} */

.container form input::placeholder {
  color: #848fbb;
  text-align: left;
  font-family: "red hat display";
}

.container form button {
  margin: 10px;
  width: 270px;
  height: 35px;
  background-color: #226acc;
  border-radius: 10px;
  border-style: none;
}

.container form button text {
  font-family: "red hat display";
  font-size: 15px;
  color: #ffffff;
}

.fi {
  color: #226acc;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

.inner-addon .fi {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .fi {
  left: 0px;
}
.right-addon .fi {
  right: 0px;
}

/* add padding  */
.left-addon input {
  padding-left: 30px;
}
.right-addon input {
  padding-right: 30px;
}

/** RESPONSIVE **/
/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .container form input {
    width: 170px;
  }
  .container form button {
    width: 170px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container form input {
    width: 200px;
  }
  .container form button {
    width: 200px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container form input {
    width: 230px;
  }
  .container form button {
    width: 230px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container form input {
    width: 250px;
  }
  .container form button {
    width: 250px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container form input {
    width: 270px;
  }
  .container form button {
    width: 270px;
  }
}

.error {
  font-family: "Red Hat Display";
}
