body {
  margin: 0;
  position: absolute;
  background-color: #f7f9ff;
  overflow-x: hidden;
}

.div-nav {
  position: fixed;
  height: 100%;
  width: 12%;
  background-color: #226acc;
  align-items: center;
  justify-content: center;
}

.nav {
  width: 164px;
  padding-top: 10px;
  margin-left: -40px;
  list-style-type: none;
}

.nav-item {
  /* background-color: #42c01c; */
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-link {
  color: #f7f9ff;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  padding-left: 10px;
  font-family: "Moon 2.0", sans-serif;
}

.fi {
  color: white;
}

.logo {
  margin-left: 10px;
}

.nav-last {
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
}

.home-div {
  width: 100%;
  background-color: brown;
}

.home-header {
  color: #226acc;
  font-size: 50px;
  text-align: left;
  padding-left: 180px;
  text-transform: uppercase;
  font-family: "Moon 2.0", sans-serif;
}

/** HOME BOOKINGS **/

.home-bookings {
  top: 20px;
  position: relative;
}

.booking-header {
  position: relative;
  width: 100%;
  height: 24px;
  left: 180px;

  font-family: "Moon 2.0";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  color: #226acc;
}

.home-booking-desk {
  left: 225px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  font-family: "Red Hat Display";
}

.desk-num {
  left: 200px;
  font-size: 40px;
  margin-top: 30px;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  font-family: "Red Hat Display";
}

.home-booking-mon {
  left: 275px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  font-family: "Red Hat Display";
}

.home-booking-date {
  left: 275px;
  font-size: 40px;
  margin-top: 30px;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  font-family: "Red Hat Display";
}

.home-bookings-circle {
  margin-left: 180px;
  width: 180px;
  height: 180px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #3987f0;
}

.circle-desk {
  margin-top: 90px;
  height: 70px;
  width: 100%;
}

.circle-div {
  margin-top: -170px;
  width: 4px;
  height: 70px;
  margin-left: 269px;
  background: #ffffff;
  position: relative;
}

/** UPCOMING EVENTS **/

.upcomingEvents-div {
  margin-top: 260px;
  height: 200px;
  width: 100%;
  padding-top: 1px;
  padding-left: 10px;
  margin-left: 160px;
  background-color: #e5eafc;
}

.upcomingHeader {
  color: #226acc;
  font-size: 18px;
  font-family: "Moon 2.0", sans-serif;
}

.event-col {
  margin: 20px 0px 0px 30px;
}

.event-title {
  top: -120px;
  left: 100px;
  /* top: -80px; */
  width: 100%;
  color: #3986f0;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  font-family: "Red Hat Display";
}

.event-time {
  top: -95px;
  left: 100px;
  position: absolute;

  font-weight: 400;
  font-size: 18px;

  color: #3986f0;
  font-family: "Red Hat Display";
}

.event-desc {
  width: 50%;

  top: -70px;
  left: 100px;
  position: absolute;

  font-weight: 400;
  font-size: 18px;

  color: #3986f0;
  font-family: "Red Hat Display";
}

.event-info {
  position: relative;
}

.event-calendar {
  position: relative;
}

.calend-mon {
  top: 10px;
  left: 30px;
  color: #ffffff;
  position: absolute;
  font-size: 18px;
  font-family: "Red Hat Display";
}

.calend-date {
  text-align: center;
  width: 56px;
  top: 26px;
  left: 20px;
  font-size: 40px;
  font-weight: 700;
  color: #226acc;
  position: absolute;
  font-family: "Red Hat Display";
}

/** END **/

/** EMPLOYEES **/

.employee-header {
  position: relative;
  width: 100%;
  height: 24px;
  left: 200px;

  font-family: "Moon 2.0";
  font-style: normal;
  font-weight: 700;
  /* identical to box height */

  color: #226acc;
  /**DIFFERENCE**/
  line-height: 24px;
}

.employee-table {
  position: relative;
  margin: 0;
  width: 1200px;
  left:  165px;
  margin-top: 100px;
  border-spacing: 0px;
}

.employee-table-header {
  width: 100%;
  height: 40px;
  background-color: #EAEEFB;
}
.employee-table-header tr th {
  font-family: "Moon 2.0";
  font-weight: bold;
  color:  #226ACC;
}

.employee-table-row {
  height: 40px;
  font-family: "Moon 2.0", "medium";
  color: #226ACC;
}

.employee-table-row tr td {
  border-bottom: 1px solid;
  border-color: #848FBB;
}

.search-bar {
  position: absolute;
  left: 180px;
  margin-top: 30px;
  border-style: none;
  font-family: "Red Hat Display";
  font-color: #848FBB;
  background-color: #f7f9ff;
  width: 300px;
  height: 35px;
  font-size: 15px;
  text-align: center;

  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 5%;
}

.search-bar[type="text"] {
  background-image: url("../images/search.png");
}

.profile-image-header {
  width: 40px;
}

.profile-image {
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  background-image: url("../images/profile-pic.png");
}