body {
  margin: 0;
  position: absolute;
  background-color: #f7f9ff;
}

.div-nav {
  position: fixed;
  height: 100%;
  width: 12%;
  background-color: #226acc;
  align-items: center;
  justify-content: center;
}

.nav {
  width: 164px;
  padding-top: 10px;
  margin-left: -40px;
  list-style-type: none;
}

.nav-item {
  /* background-color: #42c01c; */
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-link {
  color: #f7f9ff;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  padding-left: 10px;
  font-family: "Moon 2.0", sans-serif;
}

.fi {
  color: white;
}

.logo {
  margin-left: 10px;
}

.nav-last {
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
}

.home-div {
  width: 100%;
  background-color: brown;
}

.home-header {
  color: #226acc;
  font-size: 50px;
  text-align: left;
  padding-left: 180px;
  text-transform: uppercase;
  font-family: "Moon 2.0", sans-serif;
}

/** HOME BOOKINGS **/

.home-bookings {
  top: 20px;
  position: relative;
}

.booking-header {
  position: relative;
  width: 100%;
  height: 24px;
  left: 180px;

  font-family: "Moon 2.0";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  color: #226acc;
}

.home-booking-desk {
  left: 225px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  font-family: "Red Hat Display";
}

.desk-num {
  left: 200px;
  font-size: 40px;
  margin-top: 30px;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  font-family: "Red Hat Display";
}

.home-booking-mon {
  left: 275px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  font-family: "Red Hat Display";
}

.home-booking-date {
  left: 275px;
  font-size: 40px;
  margin-top: 30px;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  font-family: "Red Hat Display";
}

.home-bookings-circle {
  margin-left: 180px;
  width: 180px;
  height: 180px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #3987f0;
}

.circle-desk {
  margin-top: 90px;
  height: 70px;
  width: 100%;
}

.circle-div {
  margin-top: -170px;
  width: 4px;
  height: 70px;
  margin-left: 269px;
  background: #ffffff;
  position: relative;
}

/** UPCOMING EVENTS **/

.upcomingEvents-div {
  margin-top: 260px;
  height: 200px;
  width: 100%;
  padding-top: 1px;
  padding-left: 10px;
  margin-left: 160px;
  background-color: #e5eafc;
}

.upcomingHeader {
  color: #226acc;
  font-size: 18px;
  font-family: "Moon 2.0", sans-serif;
}

.event-col {
  margin: 20px 0px 0px 30px;
}

.event-title {
  top: -120px;
  left: 100px;
  /* top: -80px; */
  width: 100%;
  color: #3986f0;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  font-family: "Red Hat Display";
}

.event-time {
  top: -95px;
  left: 100px;
  position: absolute;

  font-weight: 400;
  font-size: 18px;

  color: #3986f0;
  font-family: "Red Hat Display";
}

.event-desc {
  width: 50%;

  top: -70px;
  left: 100px;
  position: absolute;

  font-weight: 400;
  font-size: 18px;

  color: #3986f0;
  font-family: "Red Hat Display";
}

.event-info {
  position: relative;
}

.event-calendar {
  position: relative;
}

.calend-mon {
  top: 10px;
  left: 30px;
  color: #ffffff;
  position: absolute;
  font-size: 18px;
  font-family: "Red Hat Display";
}

.calend-date {
  text-align: center;
  width: 56px;
  top: 26px;
  left: 20px;
  font-size: 40px;
  font-weight: 700;
  color: #226acc;
  position: absolute;
  font-family: "Red Hat Display";
}

/** Admin-homepage **/

.admin-title {
  margin-top: 180px;
  margin-left: 330px;
  font-size: 40px;
  color: #ffffff;
  position: absolute;
  font-family: "Red Hat Display";

}

.admin-p{

  margin-top: 250px;
  margin-left: 330px;
  font-size: 20px;
  color: #ffffff;
  position: absolute; 
  text-align: justify;
  width:450px;
  line-height: 1.7;
  font-family: "Red Hat Display";
}
.button-admin {
  border: none;
  color: white;
  padding: 12px 55px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: absolute;
  margin-top: 550px;
  margin-left: 1000px;
  border-radius: 8px;
}

.button-admin {
  background-color: white; 
  color: #226acc; 
  border: 2px solid #226acc;
}

.button-admin:hover {
  background-color: #226acc;
  color: white;
}

.admin-bg {

  margin-left: 184px;
  width: 1350px;
  height: 727.5px;
  object-fit: cover;
}
i {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

h2, h3 {
  font-size: 7px;
  letter-spacing: 1px;
  font-variant: small-caps;
  position: absolute;
  left: 50%;
  top: 32%;
  transform: translateX(-50%);
}

h2 {
  font-size: 8px;
  top: 29%;
  letter-spacing: 3px;
  font-weight: bold;
}


/** Admin Support **/
.huy {
  margin-left: 360px;
  color: #226acc;
  font-family: "Red Hat Display";
  font-size: 70px;
}

.support-second {
  margin-top: 120px;
  margin-left: 560px;
  color: #226acc;
  font-family: "Red Hat Display";
  font-size: 50px;
  width: 650px;
}
.search {
  width: 550px;
  position: relative;
  display: flex;
  margin-top: 450px;
  margin-left: 350px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
}


/** END **/
